<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lyft-Steph HOME</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../assets/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="../assets/css/main.css">
  </head>
  <body>
    <section class="miContenedor fondoAnimado">
      <div class="row center-align valign-wrapper">
        <div class="col s6 offset-s3">
          <img class="col s8 offset-s2" src="../assets/images/logo-white.png" alt="LYFT">
        </div>
      </div>
      <div class="botonesHome center-align">
        <a class="aparienciaBotonesHome btn-large ">Log In</a>
        <a class="aparienciaBotonesHome btn-large">Sing Up</a>
      </div>
    </section>
  </body>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="../assets/js/materialize.min.js"></script>
  <script type="text/javascript" src="../assets/js/app.js"></script>
</html>
