.miContenedor {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}

.fondoDegradado {
  background: -webkit-linear-gradient(-45deg, #530060 10%,#EA0B8C 100%);
}

.fondoAnimado {
  background-image: url("https://media.giphy.com/media/a2QExYEHYCQJq/giphy.gif");
  background-position: center;
  background-size: cover;
}

.botonesHome {
  margin-top: 80vh;
}

.aparienciaBotonesHome {
  border-radius: 5%;
  background-color: transparent;
  border: 1px solid white;
}

.aparienciaBotonesHome:hover {
  background: -webkit-linear-gradient(-45deg, #530060 10%,#EA0B8C 100%);
  border: none;
}
